.legend {
  position: absolute;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  z-index: 1;

  &.isDragging {
    opacity: 0;
  }
}

.legendItems {
  background-color: var(--color-background-raised);
  border: 1px solid var(--color-border);
  padding: 4px 8px;
  border-radius: 2px;
  overflow-y: auto;
  max-height: 100%;
  .scrollbars();

  .legend.isDragging && {
    pointer-events: none;
  }

  .legend.isHidden && {
    display: none;
  }
}

.legendToggle {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  display: none;

  .legend.isHidden &&,
  .legend:hover && {
    display: block;
  }

  .legend:active && {
    &:not(:hover) {
      display: none;
    }
  }

  .legend.isHidden && {
    position: static;
    transform: none;
  }

  .legend.isDragging && {
    display: none;
  }
}

.legendItem {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  user-select: none;
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
}

.legendItemSymbol {
  display: flex;
  align-items: center;
  height: 16px;
  position: relative;
  flex-shrink: 0;

  html[data-theme='dark'] && {
    // Flip chart colors if dark mode enabled
    filter: invert(1) hue-rotate(180deg);
  }
}

.legendItemBox {
  width: 100%;
  height: 12px;
  display: block;
}

.legendItemLine {
  position: absolute;
  display: flex;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}

.legendItemPoint {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.legendItemText {
  .isHidden && {
    text-decoration: line-through;
  }
}

.scrollbars {
  // https://dev.to/jonosellier/easy-overlay-scrollbars-variable-width-1mbh
  overflow: overlay;
  --scrollbar-color: #00000040;

  &::-webkit-scrollbar {
    display: block;
    width: 16px;
    z-index: 2;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-track {
    background-color: #00000000;
  }

  &::-webkit-scrollbar-track-piece {
    background-color: #00000000;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #00000000;
    border: 5px solid transparent;
    border-radius: 24px;
    box-shadow: 4px 0px 0px 4px var(--scrollbar-color) inset;
  }

  &::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
  }
}

.dropzoneContainer {
  position: absolute;
}

.dropzone {
  position: absolute;
  width: 50%;
  height: 50%;
  display: flex;

  &.left {
    left: 0;
    justify-content: flex-start;
  }
  &.right {
    right: 0;
    justify-content: flex-end;
  }
  &.top {
    top: 0;
    align-items: flex-start;
  }
  &.bottom {
    bottom: 0;
    align-items: flex-end;
  }
}

.dropzonePlaceholder {
  position: absolute;
  background-color: rgba(black, 0.05);
  display: none;

  [data-theme='dark'] & {
    background-color: rgba(white, 0.05);
  }

  .isActive && {
    display: block;
  }
}

.resizeContainer {
  position: absolute;
  inset: 0;
  z-index: -1; // Display behind chart
}
