html[data-theme='dark'] .chart canvas {
  // Flip chart colors if dark mode enabled
  filter: invert(1) hue-rotate(180deg);
}

.chart {
  border: 1px solid rgba(255, 255, 255, 0);
  padding-top: 10px;
  position: relative;

  canvas {
    width: 100% !important; // Fix for resizing bug
    height: 100% !important; // Remove if stretched when maintainAspectRatio=true
  }

  &.fixedHeight {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
  }

  &.stretchHeight {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    height: 100%;
  }

  &:focus {
    border: 1px solid #85b7d9;
    outline: none; // Remove dotted outline on FF
  }

  &::-moz-focus-inner {
    border: 0; // Remove dotted outline on FF
  }
}

.zoomForm {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;

  .zoomReset {
    margin-left: 10px;
  }

  .help {
    margin-left: 5px;
    line-height: 0; // Strip whitespace from icon
  }
}

.autoWeight {
  width: 'auto';
  height: 'auto';
}
