.controls {
  display: flex;
  align-items: center;
  gap: var(--padding-xs);
}

.buttons {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: flex-end;
  margin-left: auto;
  gap: var(--padding-xxs);
}
