@import './variables.less';
@import './fonts.less';
@import './reset/reset.less';

html {
  font-size: 14px;
}

body {
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.4285em;
  font-family: @default_font;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.285714em;
  margin: 0 0 1rem;
}

p,
ul,
ol {
  margin: 0 0 1rem;
  line-height: 1.4285em;

  &:last-child {
    margin-bottom: 0;
  }
}

ul,
ol {
  padding-left: 1.5em;
}

a {
  text-decoration: none;
}
