/*
 This file has shared variables that are re-used in other LESS files/modules
 Only use simple variables in this file
*/

// Brand guidelines
@colorPrimary: #eb6429;
@colorError: #e14c4c;
@colorWarning: #e2bd27;
@colorSuccess: #3bbb3b;
@colorInfo: #29a7eb;
