@import './shared.less';

@default_font: 'Roobert', 'Noto Sans', sans-serif;

/*
  LAYOUT
*/

@topbar_height: 60px;
@sidebar_width: 300px;
@sidebar_width_collapsed: 70px;

/*
  CARDS
*/

@card_border_radius: 4px;
@card_border_color: #d5d7d9;
@card_header_bg_color: #f7f7f7;
@card_padding_x: 15px;
@card_padding_y: 10px;

/*
  INPUTS
*/

@input_height: 38px;
@input_height_small: 24px;
@input_font_size_small: 12px;
@input_padding_x: 14px;
@input_padding_y: 9.5px;
@input_padding_small_x: 7px;
@input_padding_small_y: 3.5px;
@input_border_radius: 4px;

/*
  COLOR
*/

// Text
@colorTextDefault: rgba(0, 0, 0, 0.87);
@colorTextMuted: #7d7b7a;
@colorTextFaint: #acabab;
@colorTextError: hsl(hue(@colorError), 40%, 50%);
@colorTextWarning: hsl(hue(@colorWarning), 40%, 50%);
@colorTextSuccess: hsl(hue(@colorSuccess), 40%, 50%);
@colorTextPrimary: @colorPrimary;

:root {
  --color-text-default: @colorTextDefault;
  --color-text-muted: @colorTextMuted;
  --color-text-faint: @colorTextFaint;
  --color-text-error: @colorTextError;
  --color-text-warning: @colorTextWarning;
  --color-text-success: @colorTextSuccess;
  --color-text-primary: @colorTextPrimary;
}

// Buttons
@col_btn_default: white;
@col_btn_primary: @colorPrimary;
@col_btn_danger: @colorError;
@col_btn_success: @colorSuccess;

// Inputs
@input_border_color: rgba(34, 36, 38, 0.15);
@input_border_color_hover: rgba(34, 36, 38, 0.35);
@input_border_color_focus: hsl(hue(@colorInfo), 40%, 60%);
@input_background_error: hsl(hue(@colorError), 40%, 97%);
@input_border_color_error: hsl(hue(@colorError), 40%, 70%);
@input_color_error: @colorTextError;
@input_background_warning: hsl(hue(@colorWarning), 40%, 97%);
@input_border_color_warning: hsl(hue(@colorWarning), 40%, 70%);
@input_color_warning: @colorTextWarning;
@input_color_placeholder: #c0c0c0;
@input_background_disabled: #ecedef;

/*
  Z-INDEX
*/

@zindex_topbar_alert: 98;
@zindex_drawer: 99;
@zindex_topbar: 101;
@zindex_dimmer: 1000;
@zindex_modal: 2000;
//We need react-laag layers to appear above modals
//Tooltips need to be above dropdown layers
@zindex_popover: 2001;
@zindex_dropdown: 2002;
@zindex_tooltip: 2003;
